<section class="phx-hero">
  <h1>Clock</h1>
  <%= live_render(@conn, IntroToLiveViewWeb.ClockLive) %>
</section>

<section class="phx-hero">
  <h1>Counter</h1>
  <%= live_render(@conn, IntroToLiveViewWeb.CounterLive) %>
</section>

<section class="phx-hero">
  <h1>Search</h1>
  <%= live_render(@conn, IntroToLiveViewWeb.SearchLive) %>
</section>
